
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Arthur L - Index</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.min.css">
        <link href="{% static 'fonts/impact.tff' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav id="menu">
            <div id="tete">Arthur Louradou</div>
            <a href=""><i class="fas fa-paw"></i> Animalerie</a>
            <a href="admin"><i class="fas fa-user-shield"></i> Administration</a>
        </nav>
        {% block content %}
        {% endblock %}
        
            
        
            
            <div id="pied">
                <hr style="clear:both;">
                <div><div>© Arthur Louradou 2020-2021 -</div><div>Contact : <a href="mailto:arthur.louradou@centrale-marseille.fr">arthur.louradou@centrale-marseille.fr</a> -</div><div>Centrale Marseille</div></div>
            </div>
        
        
        </body>
    </html>
    